{%  extends "base.html.twig" %}

{% block title  %}
Nextipster
{% endblock %}

{%  block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('CSS/home.css') }}">
{% endblock %}



{% block titleForm %} Login {% endblock %}
{% block form %}
    {{ form_start(form) }}


    <div class="login">{{ form_row(form.Login, {'label': 'Username'}) }}</div>
    <div class="password">{{ form_row(form.Password, {'label': 'Password'}) }}</div>
    <div class="valider"><input type="submit" value="Valider" /></div>
    {{ form_end(form) }}
{% endblock %}
{% block register %}<div class="inscription"> <a style="text-decoration: none; border: 1px groove black; height: 20px; background-color: #b9bbbe;" href="/register">S'inscrire</a></div> {% endblock %}



{%  block body %}

    <div class="slideshow-container">

        <div class="mySlides fade">
            <img src="images/30d4b.jpg" style="width:50%; height: 200px; margin-left: 180px; margin-top: 10px;">
            <div class="text"> <a href="{{ path('news1') }}"> ENTRE LYON ET SON PUBLIC</a></div>
        </div>

        <div class="mySlides fade">
            <img src="images/b58a6.jpg" style="width:50%; height: 200px; margin-left: 180px; margin-top: 10px;">
            <div class="text"><a href="{{ path('news2') }}"> LES VERRES ARRACHENT UN POINT </a></div>
        </div>

        <div class="mySlides fade">
            <img src="images/fc834.jpg" style="width:50%; height: 200px; margin-left: 180px; margin-top: 10px;">
            <div class="text"><a href="{{ path('news3') }}" class="text"> MERCADAL : " TOUJOURS EN VIE "</a></div>
        </div>

    </div>
    <div style="margin-top: 50px;">
           <h2 style=" color: #37474F;"> Matchs de la semaine </h2>
            <hr class="separator"> <br />

            <ul class="ulMatch">
                <li class="headerMatch"> Champions League </li>
                {% for i in 0..match|length-2 %}
                <li class="match"><a href= "{{ path('Analyse') }}"> <span class="time">18:55</span> <span class="team">{{ match[i].NomEquipe }} -  {{  match[i+1].NomEquipe }}</span> </a></li>
                {% endfor %}
            </ul>


    </div>
    <script>
        var slideIndex = 0;
        showSlides();

        function showSlides() {
            var i;
            var slides = document.getElementsByClassName("mySlides");
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            slideIndex++;
            if (slideIndex > slides.length) {slideIndex = 1}
            slides[slideIndex-1].style.display = "block";
            setTimeout(showSlides, 2000); // Change image every 2 seconds
        }
    </script>


{% endblock body %}

