{%  extends "base.html.twig" %}

{% block title  %}
    Mon profil
{% endblock %}

{%  block stylesheets %}
    {{ parent() }}
{% endblock %}

{%  block body %}


    <br><br>
    <center>
    <div class="container">
        <table style="font-size: 20px;font-weight: 900;">
            <tr>
                <td colspan="2"><img src="{{ asset('images/Users-icon.png') }}" width="120px" height="150px"></td>
            </tr>
            <tr>
                <td>
                    Nom
                </td>
                <td style="text-align: center">
                    {{ util.Nom }}
                </td>
            </tr>
            <tr>
                <td>
                    Prénom
                </td>
                <td style="text-align: center">
                    {{ util.Prenom }}
                </td>
            </tr>
            <tr>
                <td>
                    Nombre de pronostique
                </td>
                <td style="text-align: center">
                    {{ util.nbrePronostiques }}
                </td>
            </tr>
            <tr>
                <td>
                    Taux de réussite
                </td>
                <td style="text-align: center; padding-left: 4px;">
                    {{ util.tauxReussite }} %
                </td>
            </tr>
            <tr>
                <td>
                    Nombre de réussite
                </td>
                <td style="text-align: center">
                    {{ util.nbreReussite }}
                </td>
            </tr>
        </table>
    </div></center>
{% endblock %}