<!Dctml>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ asset('CSS/header.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('CSS/left.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('CSS/footer.css') }}">
    {% block stylesheets %}{% endblock %}
</head>

<body>

<header>
    <div id="banner">
        <img src="banner.jpg" alt="banniere">
    </div>

    <ul class="ulMenu">
        <li class="menu"> <a href="/" id="first"> ACCEUIL </a></li>
        <li class="menu"> <a href="dayprono">PRONOSTIC DU JOUR </a> </li>
        <li class="dropdown"> <a> CLASSEMENT </a>
            <div class="dropdown-content">
                <a href="{{ path('classementpronostiqueur') }}">Pronostiqueur</a>
                <a href="{{ path('classementclub') }}">Equipes</a>
            </div>
        </li>
        <li class="menu"> <a href="{{ path('historique_index') }}"> HISTORIQUE </a></li>
    </ul>

</header>

<div class = "leftLogin">
    <h4> {% block titleForm %} {%  endblock %} </h4>
    {% block form %} {% endblock %}

    {%  block register %}{% endblock %}

    <br /> <br />

    <h4> Top User </h4>
    {% set n = 0  %}
    <ul class="ulFirstUser">
        {% for p in pronostiqueurs5 %}
            {% set n = n+1 %}
            <li id="FirstUser">
                <span id="nbUser"> {{ n }} </span>
                <img alt="photoUser">
                <span id="nameUser"> {{ p.Prenom~" "~p.Nom }}</span>
            </li>
        {% endfor %}
    </ul>
</div>

<div class="body">
    {% block body %}{% endblock %}

</div>

<footer>
    <p>NextTipster</p>
    <a>Qui sommes nous ?</a>
    <a>Nous contacter</a>
    <a>Plan du site</a>
    <a>Mentions légales</a>
    <a>FAQ</a>
</footer>
</body>

</html>

