<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ asset('CSS/header.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('CSS/left.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('CSS/footer.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('CSS/home.css') }}">
    {% block stylesheets %}{% endblock %}
</head>

<body>

<header>
    <div id="banner">
        <img src="images/banner.jpg" alt="banniere" width="100%" height="250px">
        <p id="baniere">Pronostiquez pour vos meilleurs équipes</p>
    </div>

    <ul class="ulMenu">
        <li class="menu"> <a href="/" id="first"> ACCEUIL </a></li>
        <li class="menu"> <a href="dayprono">PRONOSTIC DU JOUR </a> </li>
        <li class="dropdown"> <a> CLASSEMENT </a>
            <div class="dropdown-content">
                <a href="{{ path('classementpronostiqueur') }}">Pronostiqueur</a>
                <a href="{{ path('classementclub') }}">Equipes</a>
            </div>
        </li>
        <li class="menu"> <a href="{{ path('historique_index') }}"> HISTORIQUE </a></li>
    </ul>

</header>

<div class = "leftLogin">
    <h4> {% block titleForm %} {%  endblock %} </h4>
    {% block form %} {% endblock %}

    {%  block register %}{% endblock %}

    <h4 id="topUser"> Les top 5 utilisateurs</h4>
    {%  set n = 0  %}

    <ul class="ulFirstUser">
        {%  for p in pronostiqueurs5 %}
        <li id="user">
            {%  set n = n+1 %}
           <span id="num"> {{ n }}</span> <a href="#" style="text-decoration: none; color:#37474F;"> <span id="infoUser"> {{ p.Prenom~" "~p.Nom }}</span> </a>
        </li>
        {% endfor %}
    </ul>

</div>


    {% block body %}
<div class="body"> </div>
    {% endblock %}

<!--
<footer>
    <p>NextTipster</p>
    <a>Qui sommes nous ?</a>
    <a>Nous contacter</a>
    <a>Plan du site</a>
    <a>Mentions légales</a>
    <a>FAQ</a>
</footer>-->
</body>
<script>
    var blink_speed = 500; var t = setInterval(function () { var ele = document.getElementById('topUser'); ele.style.visibility = (ele.style.visibility == 'hidden' ? '' : 'hidden'); }, blink_speed);
</script>
</html>

