{%  extends "base.html.twig" %}

{% block title  %}
Nextipster
{% endblock %}

{%  block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('CSS/home.css') }}">
{% endblock %}

{%  block body %}

    <div id="slides">
        <img src="" alt="slides">
    </div>

        <h2> Matchs de la semaine </h2>
        <hr class="separator"> <br />
        {% for j in jeu %}
        <ul class="ulMatch">
            <li class="headerMatch"> Champions League </li>

                <li class="match"><a href= "{{ path('Analyse',{'id':j.id,'equipe1':j.equipes.first().id,'equipe2':j.equipes.last().id}) }}">
                        <span class="time">{{ j.heure|date('H:i:s') }} </span>
                        <span class="team">
                            {{ j.equipes.first().NomEquipe }} -- {{ j.equipes.last().NomEquipe }}
                        </span>
                        <span class="nbAvis"> 5 Avis </span> </a></li>



        </ul>
    {% endfor %}





{% endblock %}

