{% extends "base.html.twig" %}

{% block title %}
    Classement
{% endblock %}

{% block stylesheets %}

    <link rel="stylesheet" type="text/css" href="{{ asset('CSS/classement.css') }}">
{% endblock %}


{% block body %}

    <div class="container mt-4">
        <h1> Classement Actuel Des Pronostiqueurs </h1>
        <table class="table table-striped">
            <thead>
            <tr class="entete">
                <th> Noms </th>
                <th> NP </th>
                <th> NR </th>
                <th> TR </th>

            </tr>
            </thead>
            <tbody>

            {% for p in pronostiqueurs %}

                <tr>
                    <td> {{ p.Prenom ~" "~ p.Nom }}</td>
                    <td> {{ p.nbrePronostiques }} </td>
                    <td> {{ p.nbreReussite }} </td>
                    <td> {{ p.tauxReussite ~ "%" }} </td>
                </tr>

            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="pagination">
        {{ knp_pagination_render(pronostiqueurs) }}
    </div>

{% endblock %}
