{%  extends "base.html.twig" %}

{% block title  %}
    Analyse
{% endblock %}

{%  block stylesheets %}

    <link rel="stylesheet" type="text/css" href="{{ asset('CSS/analyse.css') }}">
{% endblock %}

    {%  block body %}
        <h2> ANALYSE DE MATCH</h2>
        <hr class="separator">

        <ul>
                <li>

                    <p class="detailMatch"> {{ jeu.heure|date('H:i:s') }} {{ jeu.date|date('Y-m-d') }} à {{ jeu.Lieu }}</p>
                    <p class="teamMatch"> {{ jeu.getIdEquipe1().NomEquipe }} -- {{ jeu.getIdEquipe2().NomEquipe }} </p>
                    <div class="result">
                        <button class="activeButton"> 1 </button>
                        <button class="otherButton" disabled> N </button>
                        <button class="otherButton" disabled> 2 </button>
                    </div>

                    <div class="cote">
                        <span class="activeCote">1.30</span>
                        <span class="otherCote">3.40</span>
                        <span class="otherCote">3.75</span> </div>
                </li>

            </ul>



        <div class="stade">
            <img src="" alt="stade">
        </div>
        <h3> Classement Actuel Des Clubs </h3>
        <div class="container mt-4">

            <table class="table table-striped">
                <thead>
                <tr class="entete">
                    <th> Clubs </th>
                    <th> Points </th>
                    <th> Joués </th>
                    <th> Gagnés </th>²
                    <th> Perdus </th>

                </tr>
                </thead>
                <tbody>
                    <tr>

                    <td> {{ jeu.getIdEquipe1().NomEquipe }} </td>
                    <td> {{ jeu.getIdEquipe1().points }} </td>
                    <td> {{ jeu.getIdEquipe1().nbMatchJoue }} </td>
                    <td> {{jeu.getIdEquipe1().nbMatchGagne}} </td>
                    <td> {{ jeu.getIdEquipe1().nbMatchPerdu}} </td>
                </tr>
                <tr>

                    <td> {{ jeu.getIdEquipe2().NomEquipe }} </td>
                    <td> {{ jeu.getIdEquipe2().points }} </td>
                    <td> {{ jeu.getIdEquipe2().nbMatchJoue }} </td>
                    <td> {{jeu.getIdEquipe2().nbMatchGagne}} </td>
                    <td> {{ jeu.getIdEquipe2().nbMatchPerdu}} </td>
                </tr>


                </tbody>
            </table>
        </div>
        <h3> Forme </h3>
        <div class="Forme">
            <table id="team1">
                <thead>
                <tr class="entete">
                    <th> Club </th>
                    <th> score</th>
                    <th> club</th>

                </tr>
                </thead>
                {% for j in equipe1 %}
                    <tbody>
                    <tr>
                        <td> {{ j.getIdEquipe1().NomEquipe }} </td>
                        <td> {{ j.score}} </td>
                        <td> {{ j.getIdEquipe2().NomEquipe }} </td>
                    </tr>
                    </tbody>
                {% endfor %}
            </table>
            <table id="team2">
                <thead>
                <tr class="entete">
                    <th> Club </th>
                    <th> score</th>
                    <th> club</th>

                </tr>
                </thead>
                {% for e in equipe2 %}
                    <tbody>
                    <tr>
                        <td> {{ e.getIdEquipe1().NomEquipe }} </td>
                        <td> {{ e.score}} </td>
                        <td> {{ e.getIdEquipe2().NomEquipe }} </td>
                    </tr>
                    </tbody>
                {% endfor %}

            </table>


        </div>
        <h3> Face à Face </h3>
        <div class="Face">
            <table id="face">

                <tbody>
                <tr>

                    <td> {{ jeu.getIdEquipe1().NomEquipe }} </td>
                    <td> {{ jeu.score}} </td>
                    <td> {{ jeu.getIdEquipe2().NomEquipe }} </td>

                </tr>

                </tbody>

            </table>

        </div>
        <h3> Statique generale </h3>
        <div class="Statistique">
            <table id="team1"><tr>
                    <th>team1</th>
                    <th>pt</th>


                </tr>
                <tr>
                    <td>team1</td>
                    <td>pt</td>


                </tr>
                <tr>
                    <td>team1</td>
                    <td>pt</td>


                </tr>
                <tr>
                    <td>team1</td>
                    <td>pt</td>


                </tr>
                <tr>
                    <td>team1</td>
                    <td>pt</td>


                </tr>
            </table>
            <table id="team2">
                <tr>
                    <th>team2</th>
                    <th>pt</th>
                </tr>
                <tr>
                    <td>team2</td>
                    <td>pt</td>


                </tr>

            </table>
        </div>




    {% endblock %}